@mixin invisibleScroll() {
    scrollbar-width: none;
    overflow-y: auto;
  }
  
  @mixin for-laptop {
    @media (max-width: 1180px) {
      @content;
    }
  }
  @mixin for-tablet {
    @media (max-width: 860px) {
      @content;
    }
  }
  
  @mixin for-phone {
    @media (max-width: 600px) {
      @content;
    }
  }

  @font-face {
    font-family: 'Qanelas-Light';
    src: url('../assets/fonts/Qanelas-Light.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Qanelas-Regular';
    src: url('../assets/fonts/Qanelas-Regular.ttf') format('ttf');
  }


  $font-primary: "Qanelas-Light";